.config/tmux/
.config/go
.config/neofetch
.config/dlv
.config/nvim.bak/
.config/gh/
.config/nvim/spell
.config/nvim/lazyvim.json
.config/nvim/lazy-lock.json
.config/yazi/flavors
.config/github-copilot
